{% extends "./website_base.html" %}

{% block ActivityList %}

{% if activity_list %}
    <ul>
    {% for activity in activity_list %}
        <li>
          <a href="/index/activity/{{activity.id}}/">
            <div class="container">
              <div class="row">
                <div class="col">
                  <p>{{ activity.title }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Difficulty: {{ activity.difficulty }}</p>
                </div>
                <div class="col">
                  <p>Length: {{ activity.length}}km</p>
                </div>
              </div>
            </div>
          </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No activities are available.</p>
{% endif %}

{% endblock %}
